.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;

}
  
.trigger:hover {
    color: #1890ff;
}
  
.logo {
    height: 160px;
    margin: 10px auto;
    background-image: url("../../../assets/images/logo.png");
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
}

.ant-layout {
    height: 100vh;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}