/* div {
    background: red;
} */
* {
    box-sizing: border-box;
}
h1, h3, p {
    margin: 0;
    padding: 0;
}
.loginPage {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.picture {
    background-image: url("./loginBg.png");
    width: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    padding: 10% 20px 10%;
    justify-content: space-between;
    height: 800px;
}
.loginForm {
    display: flex !important;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    padding: 10% 10%;
    /* background: lightcoral;
    padding: 10px; */
}

.loginSubmit {
    width: 100%;
    /* font-size:13px; */
    /* padding: 8px; */
    background-color: #55a9a6 !important;
    border-color: #51a09e !important;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 1rem 0;
}

h1 {
    color: #415f6b;
    font-size: 2.8em;
    text-align: center;
}
.inputStyle {
    padding: 8px 3px;
    width: 100%;  
    margin: 3px 0 20px 0; 
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: calc(1.5em + 0.75rem + 2px);
    outline: 0;
    color: #495057;
    background-color: #ffffff;
}
.line {
    background-color: #495057;
    height: 2px;
    width: 100%;
    margin: 1rem 0;
}
#hide {
    display: none;
}
#passwordDiv {
    display: flex;
    justify-content: space-between;
}
.passworsInput {
    border: none;
    outline: none;
}
.showHidebtn { 
    margin: 0 5px;
}